	<!DOCTYPE html>
<!--<html >
    <head>
        <meta charset="UTF-8">
        <title>Novedades para incluir en nomina - GTH-FO-38</title>
    </head>-->
    <!--<body>-->
    <div class="box-header with-border">
		<h3 class="box-title">Administrar permisos laborales solicitados por funconarios(as)</h3>
	</div>
        <div >
            <form class="well form-horizontal" method="post"  id="form" name="form" ng-submit="form.$valid && persistir()" ng-show="!form.submitted">
                    <!-- Success message -->
                    <!--<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i>--> 
                        <mc-messages></mc-messages>
                    <!--</div>-->
                          
                    <div class="row">
                        <div class="col-sm-12"> 
                            <div class="form" ng-class="{ 'has-error' : form.tipoSolicitud.$invalid && !form.tipoSolicitud.$pristine}">
                                <label class="control-label" >Opciones de administración</label> 
                                <div>
                                    <div class="input-group" >
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                        <select name="tipoSolicitud" placeholder="seleccione opciones de administración" class="form-control" ng-model="datosUsuario.tipoSolicitud" required="" ng-change="cargarCampos()" >
                                        <option value="">Seleccione</option>
                                        <option ng-selected="{{tipoSolicitud.id == datosUsuario.tipoSolicitud}}" ng-repeat="tipoSolicitud in tipoSolicitudList" value="{{tipoSolicitud.id}}">{{tipoSolicitud.ds}}</option>
                                    </select>
                                    </div>
                                    <span class="text-danger pull-right" ng-show="form.tipoSolicitud.$error.pattern" >C&#225;racter no permitido</span>
                                    <span class="text-danger pull-right" ng-show="form.tipoSolicitud.$dirty && form.tipoSolicitud.$error.required">Campo requerido</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                        <!--<label class="control-label" align="center"> {{datosUsuario.dsTipoSolicitud}} </label> -->
                       
                    
                    <!--Habilitar solicitud de permiso prioritario-->
                    <div ng-show ="tipo1">
                        <div class="row" > 
                            
                            <div class="col-sm-3" >
                                <div class="form" ng-class="{ 'has-error' : form.cedula.$invalid && !form.cedula.$pristine}">
                                    <label class="control-label" >Número de cédula del(a) solicitante </label>
                                    <div>
                                        <div class="input-group" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <input name="cedula" placeholder="" class="form-control" ng-model="datosFunCiom.numDoc" required="" type="text" maxlength="12" ng-pattern="numModel">
                                        </div>
                                        <span class="text-danger pull-right" ng-show="form.cedula.$error.pattern" >C&#225;racter no permitido</span>
                                    <span class="text-danger pull-right" ng-show="form.cedula.$dirty && form.cedula.$error.required">Campo requerido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" align="left">
                                <br>
                                <br>
                                <div class="form" >
                                    <div align="right">
                                        <div class="input-group" >
                                            <button type="button" class="btn btn-info" ng-disabled="btnBuscarFunc" ng-click="buscarFuncionarioCiom()">Buscar funcionario(a)<span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" >
                            </div>
                            <div class="col-sm-3" >
                            </div>
                        </div>
                       
                        <div ng-show="mostrarResultado" id="divLoadingGeneral"> 
                            <div class="row" >
                                <div class="col-sm-3" >
                                    <div class="form">
                                    <label class="control-label" >Nombre: </label>
                                        <div>
                                            <div class="input-group" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                                <input name="nombre" placeholder="" class="form-control" ng-model="datosFunCiom.nombreCompleto" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-3" >
                                    <div class="form">
                                    <label class="control-label" >Cargo: </label>
                                        <div>
                                            <div class="input-group" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                                <input name="nombre" placeholder="" class="form-control" ng-model="datosFunCiom.cargoCompleto" disabled="" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-3" >
                                    <div class="form">
                                    <label class="control-label" >Telefono: </label>
                                        <div>
                                            <div class="input-group" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                                <input name="nombre" placeholder="" class="form-control" ng-model="datosFunCiom.TELEFONO" type="text" disabled="" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                               
                            </div>
                            
                            <div class ="row" aling="right">
                                 <div class="col-sm-12">
                                    <div class="form" ng-class="{ 'has-error' : form.cesantiasA.$invalid && !form.cesantiasA.$pristine}">
                                        <div align="right"><
                                            <div class="input-group" >
                                                <button type="button" class="btn btn-info" ng-disabled="btnHabilitarPermiso" ng-click="habilitarFuncionarioCiom()" >Habilitar permiso prioritario  <span class="glyphicon glyphicon-send"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                   </div> 
                    
                   <!--Ver y aprobar solicitudes de permiso Funcinoarias-->
                   <div ng-show ="tipo2">
                        <div class="row" ng-class="{ 'has-error' : form.tipoCriterio.$invalid && !form.tipoCriterio.$pristine}"> 
                            <div class="col-sm-6" >
                                <label class="control-label" >Criterio de busqueda de solicitudes</label> 
                                <div>
                                    <div class="input-group" >
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                        <select name="tipoCriterio" placeholder="seleccione opciones de administración" class="form-control" ng-model="datosUsuario.tipoCriterio" required="" ng-change="cargarCriterio()" >
                                        <option value="">Seleccione crieterio de busqueda</option>
                                        <option ng-selected="{{tipoCriterio.id == datosUsuario.tipoCriterio}}" ng-repeat="tipoCriterio in tipoCriterioList" value="{{tipoCriterio.id}}">{{tipoCriterio.ds}}</option>
                                        </select>
                                    </div>
                                    <span class="text-danger pull-right" ng-show="form.tipoCriterio.$error.pattern" >C&#225;racter no permitido</span>
                                    <span class="text-danger pull-right" ng-show="form.tipoCriterio.$dirty && form.tipoCriterio.$error.required">Campo requerido</span>
                                </div>
                            </div>
                            <div class="col-sm-3" align="right">
                                <br>
                                <div class="form" >
                                    <div align="right">
                                        <div class="input-group" >
                                            <button type="button" class="btn btn-info" ng-disabled="btnBuscarForm" ng-click="buscarFormularios">Buscar formularios<span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row" > 
                            <div ng-show ="criterio1" > 
                                <div class="col-sm-3" >
                                    <label class="control-label" >Seleccione CIOM</label> 
                                        <div class="input-group" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <select name="ciom" placeholder="Seleccione casa de igualdad de oportunidades" class="form-control" ng-model="datosUsuario.ID_CIOM" required="" >
                                            <option value="">Seleccione casa de igualdad de oportunidades</option>
                                            <option ng-selected="{{datosUsuario.ID_CIOM==ciom.ID_CIOM}}" ng-repeat="ciom in ciomList" value="{{ciom.ID_CIOM}}">{{ciom.ID_CIOM}} {{ciom.NOM_CIOM}}</option>
                                            </select>
                                        </div>
                                        <span class="text-danger pull-right" ng-show="form.ciom.$error.pattern" >C&#225;racter no permitido</span>
                                        <span class="text-danger pull-right" ng-show="form.ciom.$dirty && form.ciom.$error.required">Campo requerido</span>
                                </div>
                            </div>
                            <div ng-show ="criterio2" > 
                                <div class="col-sm-3" >
                                    <label class="control-label" >Tipo de solicitud de permiso</label> 
                                        <div class="input-group" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <select name="tipoSol" placeholder="seleccione tipo de solicitud de permiso" class="form-control" ng-model="datosUsuario.tipoSol" required="" >
                                            <option value="">Seleccione tipo de solicitud de permiso</option>
                                            <option ng-selected="{{tipoSol.id == datosUsuario.tipoSol}}" ng-repeat="tipoSol in tipoSolList" value="{{tipoSol.id}}">{{tipoSol.ds}}</option>
                                            </select>
                                        </div>
                                        <span class="text-danger pull-right" ng-show="form.tipoSol.$error.pattern" >C&#225;racter no permitido</span>
                                        <span class="text-danger pull-right" ng-show="form.tipoSol.$dirty && form.tipoSol.$error.required">Campo requerido</span>
                                </div>
                            </div>
                            <div ng-show ="criterio3" > 
                                <div class="col-sm-3" >
                                    <label class="control-label" >Seleccione fecha de permiso</label> 
                                        <div class="input-group" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <select name="fecPerm" placeholder="Seleccione fecha de permiso" class="form-control" >
                                            </select>
                                        </div>
                                        <span class="text-danger pull-right" ng-show="form.ciom.$error.pattern" >C&#225;racter no permitido</span>
                                        <span class="text-danger pull-right" ng-show="form.ciom.$dirty && form.ciom.$error.required">Campo requerido</span>
                                </div>
                            </div>
                            <div ng-show ="criterio4" > 
                                <div class="col-sm-3" >
                                    <label class="control-label" >Estado de aprobación</label> 
                                        <div class="input-group" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            <select name="estadoAprob" placeholder="seleccione opciones de administración" class="form-control" ng-model="datosUsuario.estadoAprob" required="" >
                                            <option value="">Seleccione estabo de aprobación de permiso</option>
                                            <option ng-selected="{{estadoAprob.id == datosUsuario.estadoAprob}}" ng-repeat="estadoAprob in estadoAprobList" value="{{estadoAprob.id}}">{{estadoAprob.ds}}</option>
                                            </select>
                                        </div>
                                        <span class="text-danger pull-right" ng-show="form.estadoAprob.$error.pattern" >C&#225;racter no permitido</span>
                                        <span class="text-danger pull-right" ng-show="form.estadoAprob.$dirty && form.estadoAprob.$error.required">Campo requerido</span>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
             </form>
        </div>
<!--    </body>
</html>-->
<script type="text/javascript">
    $(function () {
        $('#datetimepicker2').datetimepicker({
            locale: 'ru'
        });
    });
</script>